body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-image: url(/c86be3154eca99916ae07b22d1148fb7.jpeg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    background-color: #407da2 ;
    color: white;
    width: 100%;
    padding: 10px 0;
    text-align: center;
   
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

.container {
    backdrop-filter: blur(2px);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60vh;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


input {
    height: 2rem;
}

button {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    height: 40px;
}

button:hover {
    background-color: green;
    transform: scale(1,1);
    color: greenyellow;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: red;
    font-size: large;
}

